---
import BaseLayout from '../layouts/BaseLayout.astro';
import siteData from '../data/siteData.json'; // access any data that isn't page-specific SEO data from this import
import ScrollingBanner from '../components/Banner.astro';

import { Image } from 'astro:assets';
import dainsFullLogo from '../assets/logo-sm.png';
import burger from '../assets/dainer-burger-twinkles.webp';
import tot1 from '../assets/tot-1.webp';
import tot2 from '../assets/tot-2.webp';
import tot3 from '../assets/tot-3.webp';
import tot4 from '../assets/tot-4.webp';
import leftPanel from '../assets/burg-fries-left.jpeg';
import rightPanel from '../assets/hotdog-tots-cropped.jpeg';
import foodFeature from '../assets/mozzarella-triangles-with-twinkles-cropped.jpg';

const pageData = siteData.seo.home; // pull page-specific SEO data to pass into BaseLayout.astro
---
<style>
	section {
		color: var(--white);
	}

	/* Hero */
	.hero {
		/* background-image: linear-gradient(rgba(94, 45, 45, 0.16), rgba(94, 45, 45, 0.16)), url('../assets/burger-with-loaded-fries.webp'); */
		background-size: cover;
		color: var(--white);
		text-align: center;

		padding: 2em .5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5em;

		background-color: var(--red);
		background-image: linear-gradient(to right, rgba(32, 32, 32, 0.05), rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0), rgba(32, 32, 32, 0.05));
	}

	.hero * {
		text-shadow: var(--shadow-1);
	}

	.hero > * {
		line-height: .85;
	}

	.hero h2 {
		font-size: clamp(8.25rem, 12vw + 1.5rem, 10rem);
		color: var(--white);
		margin: 0 auto;
		margin-top: -.25ch; /* offset font's stubborn vertical alignment */
	}

	.dainer-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dainer {
		width: 90%;
		max-width: 400px;
	}

	.dainer.desktop {
		display: none;
	}

	.address-section-wrapper {
		padding-inline: 1rem;
		padding-block: var(--size-fluid-4);

		max-width: var(--max-content-width);

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto 1fr auto;
		row-gap: 4rem;
		justify-items: center;

		border-bottom: 3px solid var(--red);
	}

	.tot {
		width: 4.5rem;
		/* width: 70%; */
	}

	.address-wrapper {
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: var(--red);

		grid-column: 1 / 5;
		grid-row: 2 / 3;
	}

	.address-line, .tel {
		font-family: 'Barlow Semi Condensed', sans-serif;
		font-style: normal;
		font-size: clamp(3.5rem, 2.965rem + 3.419vw, 6.5rem);
		line-height: 1;
		font-weight: var(--font-weight-8);
		display: block;
		text-align: center;
		margin-bottom: .25rem;
	}
	
	.cta--menu .btn {
		margin-top: var(--space-sm);
		color: var(--red);
		margin-inline: auto;
		background-color: var(--white);
		width: 100%;
	}

	.btn.desktop {
		display: none;
	}

	.panel-left, .panel-right {
			display: none;
	}

	/* Hours Button */
	.buttons-collage {
		background-image: url('../assets/buttons-collage-cropped-sm.jpeg');
		background-size: cover;
		color: var(--white);

		height: 90vh;
		display: flex;
		align-items: center;
		justify-content: center;

		perspective: 1000px;
	}

	.hours-button {
		width: 65vw;
		max-width: 250px;
		height: 65vw;
		max-height: 250px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;
		
		text-align: center;

		border-radius: 50%;
		background-color: var(--red);
		box-shadow: 3px 6px 8px 3px rgba(0,0,0,0.65), inset 3px 2px 4px rgba(255,251,237,0.57), inset -3px -5px 8px rgba(0, 0, 0, 0.4), inset 1px 2px 2px rgba(255,238,213,0.25);
		transform: rotate3d(-2, -2, 1, -15deg);
	}

	.hours-button * {
		line-height: .9;
	}

	.hours-button h3 {
		font-size: var(--font-size-4);
	}

	.hours, .days {
		font-family: 'Barlow Condensed', sans-serif;
		font-weight: var(--font-weight-7);
	}

	.hours {
		font-size: var(--font-size-7);
	}

	.days {
		font-size: var(--font-size-5)
	}

	.hours-button small {
		margin-top: 0.25em;
		font-size: .95rem;
	}

	/* About section */
	.about {
		background-color: var(--red);
	}

	.about .drop-border {
		/* height: 90vh; */
		padding-block: var(--size-fluid-3);
		padding-inline: 5%;

		text-align: center;
		border-color: var(--white);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: var(--size-fluid-3);
	}

	.detail-logo {
		border: 3px solid var(--white);
		width: 80px;
	}

	.about h3 {
		font-size: clamp(1.5rem, 0.942rem + 1.5vw, 2.5rem);
		transform: rotate(-4deg);
		text-wrap: nowrap;
	}

	.about .body-text {
		max-inline-size: 95%;
		font-weight: var(--font-weight-3);
	}

	.cta--about {
		background-color: var(--white);
		color: var(--red);
		font-size: clamp(1.25rem, 0.942rem + 1.165vw, 1.5rem);
		width: 90%;
		max-width: 350px;
	}

	@media (min-width: 654px) {
		.address-section-wrapper {
			padding-block: var(--size-fluid-6);
		}
		.about-wrapper {
			display: grid;
			grid-template-columns: minmax(425px, 1fr) minmax(0, 1fr);
			grid-template-rows: auto;

			max-width: var(--max-content-width);
			margin-inline: auto;
		}
		.about {
			background-color: var(--red);
			grid-column: 1 / 2;
			grid-row: 1 / 2;

			display: flex;
			flex-direction: column;
		}
		.about .drop-border {
			flex-grow: 1;
		}
		.about .body-text {
			max-inline-size: 90%;
		}
		.featured-food-wrapper {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		.featured-food-img {
			margin-inline: auto;
			object-fit: cover;
			height: 100%;
		}
	}

	@media (min-width: 767px) {
		.hero-wrapper {
			padding: 0;
		}
		.dainer {
			max-width: 500px;
		}
		.row-wrapper {
			padding-inline: 1.5rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1rem;
			border-bottom: 3px solid var(--red);
		}
		.info-wrapper {
			display: flex;
			flex-direction: row;
		}
		.cta--menu.mobile {
			display: none;
		}
		.btn.desktop {
			display: block;
			color: var(--red);
			background-color: var(--white);
			border: none;
			font-size: 1.5rem;
			padding: 1.25rem 4.5rem;
		}
		.tot.mobile {
			display: none;
		}
		.tot {
			display: block;
			width: 10%;
			width: 6rem;
			height: auto;
		}

		/* about panel */
		.cta--about {
			width: auto;
		}

		/* make hours section triptych */
		.hours-section {
			display: grid;
			grid-template-columns: 1fr 2.5fr 1fr;
			grid-template-rows: 1fr;
			gap: 1.5rem;
		}
		.buttons-collage {
			height: 100%;
			background-image: url('../assets/buttons-collage-cropped.jpeg');
		}
		.panel-left, .panel-right {
			display: block;
		}
		.panel-left img, .panel-right img {
			height: 100%;
			width: auto;
			object-fit: cover;
		}
	}

	@media (min-width: 1000px) {
		.hero {
			padding-inline: var(--space-sm);
			/* gap: var(--space-md); */
		}
		.dainer-wrapper {
			gap: 1em;
		}
		.dainer {
			width: auto;
			max-width: 32%;
		}
		.dainer.desktop {
			display: block;
		}
	}
</style>

<BaseLayout seo={pageData} isHome={true} >
	<section class="bottom-border padded-all hero-wrapper">
		<div class="hero">
			<h2 class="uppercase">{siteData.businessName}</h2>
			<div class="dainer-wrapper">
				<Image class="dainer desktop" alt="dainer burger" src={burger} />
				<Image class="dainer" alt="dainer burger" src={burger} />
				<Image class="dainer desktop" alt="dainer burger" src={burger} />
			</div>
			<a class="cta desktop drop-on-click drop-border btn btn--outline uppercase cursive" href="/menu/">See our menu</a>
		</div>

		<div class="cta cta--menu mobile">
			<a class="drop-on-click drop-border btn btn--outline uppercase cursive" href="/menu/">See our menu</a>
		</div>
	</section>

	<div class="row-wrapper address-section-wrapper">
		<Image class="tot" alt="tater tot" src={tot1} />
		<Image class="tot" alt="tater tot" src={tot2} />
		<Image class="tot mobile" alt="tater tot" src={tot3} />
		<Image class="tot mobile" alt="tater tot" src={tot4} />
		<section class="address-wrapper">
			<address class="uppercase">
				<span class="address-line">754 Ninth St</span>
				<span class="address-line">Durham, NC</span>
			</address>
			<span class="tel">919-416-8800</span>
		</section>
		<Image class="tot mobile" alt="tater tot" src={tot1} />
		<Image class="tot mobile" alt="tater tot" src={tot2} />
		<Image class="tot" alt="tater tot" src={tot3} />
		<Image class="tot" alt="tater tot" src={tot4} />
	</div>

	<section class="padded-all hours-section">
		<div class="panel-left">
			<Image class="leftPanel" alt="burger with loaded fries and a side of ranch" src={leftPanel} />
		</div>
		<div class="buttons-collage">
			<div class="hours-button uppercase">
					<h3 class="cursive">We're open</h3>
					<div class="no-gap">
						<p class="hours">{siteData.hours.bar.open} - {siteData.hours.bar.close}</p>
						<p class="days">Mon - Sun</p>
					</div>
					<small class="cursive">*Kitchen 'til {siteData.hours.kitchen.close}</small>
			</div>
		</div>
		<div class="panel-right">
			<Image class="rightPanel" alt="hotdog carolina style with tots" src={rightPanel} />
		</div>
	</section>

	<div class="about-wrapper">
		<section class="about padded-all">
			<div class="drop-border drop-border--white">
				<Image class="detail-logo" src={dainsFullLogo} alt="Full detail Dain's Place logo in the style of stained glass with Old English lettering." />
				<h3 class="uppercase cursive">A Durham Institution</h3>
				<p class="body-text">Beloved by locals, students, Eagle's fans  and just about anybody with a penchant for potatoes, Dain's has been slinging juicy burgers and toasty tater tots since 2013. Come cozy up to the bar and make a new friend, or bring your own. Blah blah and more text here. Lorem ipsum flipsum bipsum and a sea shells by the sea shore. Rich white Reese Witherspoon - try saying that 5 times fast!</p>
				<a class="btn btn--solid uppercase cursive cta cta--about" href="/about/">About the bar</a>
			</div>
		</section>

		<div class="featured-food-wrapper">
			<Image class="featured-food-img" src={foodFeature} alt="A basket of crispy mozzarella triangles" />
		</div>
	</div>

	<ScrollingBanner />
</BaseLayout>
