---
import siteData from '../data/siteData.json';

const { seo } = Astro.props; // SEO data passed in from each page file
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Meta tags for SEO -->
<title>{seo.title}</title>
<meta name="description" content={seo.description} />
<meta name="keywords" content={seo.keywords.join(', ')} />
<meta name="author" content={siteData.businessName} />

<!-- Open Graph Tags (For social media sharing) -->
<meta property="og:type" content="website" />
<meta property="og:title" content={seo.title} />
<meta property="og:description" content={seo.description} />
<meta property="og:image" content={seo.ogImage} />
<meta property="og:url" content={`${siteData.baseUrl}${seo.path}`}>

<!-- Canonical URL -->
<link rel="canonical" href=`${siteData.baseUrl}${seo.path}` />

<!-- Favicon -->
<link rel="icon" type="image/png+xml" href="/favicon.png" />